logs
project/project
project/target
target
tmp
.history
dist
/out
/RUNNING_PID
.DS_Store
.swagger-codegen

# temp files
.~*
*~
*.orig

# eclipse
.classpath
.settings
.project
.scala_dependencies
.buildpath
.cache
.target
bin/

#idea
.idea
*.iml
.idea_modules
atlassian-ide-plugin.xml

.sbtopts
.ensime*
ensime*

**/*.jar
parser/src/test/resources/*
/solr/testdata/solr/employee/data/
